*,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

body {
  background: linear-gradient(to right, rgba(12, 22, 77, 1), rgba(25, 11, 34, 1));
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: relative;
}

.header1 {
  height: 20%;
  right: 5%;
  gap: 1rem;
  padding-top: 4rem;
  position: absolute;
  z-index: 1;
}

h1 {
  font-family: "Roboto Condensed", serif;
  letter-spacing: 0.25rem;
  color: white;
  font-size: 60px;
  text-align: end;

  @media screen and (max-width: 768px) {
    font-size: 24px;
  }
}

h4 {
  color: rgba(255, 208, 0, 0.856);
  letter-spacing: 15px;
  font-weight: lighter;
  font-size: 24px;
  text-align: end;
  font-family: "Lora", serif;
}

main {
  position: absolute;
  width: 100%;
  height: 100%;
}

#sun {
  height: 170%;
  width: 115%;
  background-color: rgba(255, 208, 0, 0.767);
  position: absolute;
  left: -50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  cursor: pointer;
  z-index: 2;
}

.planets {
  width: 90%;
  height: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 5%;
}

#mercery,
#venus,
#earth,
#mars,
#jupiter,
#saturn,
#uranus,
#neptune {
  cursor: pointer;
  border-radius: 50%;
  aspect-ratio: 1 / 1;
}

#mercery {
  width: 1%;
  background-color: grey;
}

#venus {
  width: 1.5%;
  background-color: rgba(245, 216, 216, 0.76);

}

#earth {
  width: 2%;
  background-color: rgba(104, 179, 240, 0.767);
}

#mars {
  width: 1.2%;
  background-color: rgb(204, 90, 55);
}

#jupiter {
  width: 13%;
  background-color: rgba(211, 136, 87, 0.938);
}

#saturn {
  width: 10%;
  background-color: rgb(185, 144, 89);
  position: relative;
  overflow: visible;
}

#ring {
  width: 170%;
  height: 5%;
  background-color: rgba(255, 255, 255, 0.4);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%) rotate(-30deg);
  border-radius: 50%;
}

#uranus {
  width: 5%;
  background-color: rgba(193, 197, 231, 0.938);
}

#neptune {
  width: 5%;
  background-color: rgba(98, 128, 155, 0.938);
}

#planet-details-overview {
  display: flex;
  height: 100%;
  width: 100%;
  background-image: url("stars.png");
  align-items: center;
  justify-content: center;
}

#planet-zoomed {
  height: 140vh;
  width: 110vw;
  position: absolute;
  right: 35%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  box-shadow: 0 0 10px 2px transparent;
  z-index: 1;
}


.planet-info {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 50%;
  color: white;
  position: relative;
  background-color: transparent;
  padding: 4rem;


}

#planet-name {
  height: 50%;
  font-family: "Roboto Condensed", serif;
  letter-spacing: 0.25rem;
  color: white;
  font-size: 3.75rem;

  @media screen and (max-width: 768px) {
    font-size: 1.5rem;
  }

  text-transform: uppercase;
  /*big letters*/
}

#latin-name {
  height: 20rem;
  color: rgba(255, 208, 0, 0.856);
  letter-spacing: 15px;
  font-weight: lighter;
  font-size: 24px;
  font-family: "Lora", serif;
  text-transform: uppercase;
  /*big letters*/
}

#planet-desc {
  height: 100%;
  width: 100%;
  font-size: 1.1rem;
  color: white;
  background-color: transparent;
}


#info-box1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-transform: uppercase;
}

#circumference {
  color: white;
  font-family: "Secular One", serif;
  font-size: 1.1rem;
  font-weight: 300;
  height: 20%;
}

#planet-mintemp {

  color: white;
  font-family: "Secular One", serif;
  font-size: 1.1rem;
  font-weight: 300;
  height: 20rem;
}

#planet-maxtemp {
  color: white;
  font-family: "Secular One", serif;
  font-size: 1.1rem;
  font-weight: 300;
  height: 50rem;
}

#planet-distance {
  color: white;
  font-family: "Secular One", serif;
  font-size: 1.1rem;
  font-weight: 300;
  height: 50rem;

}

.border-top {
  border-top: solid 1px rgba(211, 211, 211, 0.5);
}

#planet-moons {
  color: white;
  font-family: "Secular One", serif;
  font-size: 1.1rem;
  font-weight: 300;
  height: 50rem;

}

#back {
  background-color: whitesmoke;
  height: 3rem;
  width: 3rem;
  border-radius: 10%;
  position: absolute;
  align-self: flex-end;
  cursor: pointer;
}